notebooks/.ipynb_checkpoints/C1S2-retail_forecasting-checkpoint.ipynb
notebooks/.ipynb_checkpoints/C1S1_DataWrangling-checkpoint.ipynb
.ipynb_checkpoints/
~$les_Forecasting_Report.docx
data/processed/*
*.tmp
Final Report/Photos/*
Final Report/~$Sales Forecasting for a Major Retail Chain.pptx